<%= turbo_stream_from "reservation_events_user_#{current_user.id}" %>

<div class="h-full overflow-auto">
  <div data-controller="reservation--calendar" data-reservation--calendar-start-date-value="<%= @start_date %>"
       class="reservation-calendar h-full min-w-[600px] bg-white">
    <div data-reservation--calendar-target="calendar" class="h-full"></div>
    <script type="application/json" id="reservation-calendar-events"
            data-reservation--calendar-target="events"><%= raw @calendar_events_json %></script>
    <%= content_tag :script, raw(@holidays.to_json.gsub("/", '\/')),
          type: "application/json", data: { "reservation--calendar-target": "holidays" } %>
    <%= link_to "", "#", data: { "reservation--calendar-target": "modalLink", turbo_frame: "modal" }, class: "hidden" %>
  </div>
</div>

<%= turbo_frame_tag "modal" %>
