<tr id="<%= dom_id(category) %>">
  <td><%= category.name %></td>
  <td><%= category.default_type == "income" ? "収入" : "支出" %></td>
  <td>
    <%= link_to "編集", edit_kaikei_category_path(category) %>
    <%= button_to "削除", kaikei_category_path(category), method: :delete, form: { data: { turbo_confirm: "削除しますか?" } } %>
  </td>
</tr>
